<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theed - Crédit</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <meta name="description" content="Découvrez les mentions légales et les informations de contact pour Theed, un écosystème de services centralisés par Johan Ledoux.">
    <meta name="keywords" content="theed, mentions légales, contact, services centralisés, Johan Ledoux">
    <meta name="author" content="Johan Ledoux">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Theed - Mentions légales et contact">
    <meta property="og:description" content="Découvrez les mentions légales et les informations de contact pour Theed, un écosystème de services centralisés par Johan Ledoux.">
    <meta property="og:image" content="{{ url_for('static', filename='img/favicon.png', _external=True) }}">
    <meta property="og:url" content="https://johan.theed.fr/mentions-legales">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Theed - Mentions légales et contact">
    <meta name="twitter:description" content="Découvrez les mentions légales et les informations de contact pour Theed, un écosystème de services centralisés par Johan Ledoux.">
    <meta name="twitter:image" content="{{ url_for('static', filename='img/favicon.png', _external=True) }}">
</head>
<body>
    <main class="text">
        <p>

            &nbsp;_______&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_ <br>
            |__&nbsp;&nbsp;&nbsp;__|&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;|<br>
            &nbsp;&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;|&nbsp;|__&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;___&nbsp;&nbsp;__|&nbsp;|<br>
            &nbsp;&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;|&nbsp;'_&nbsp;\&nbsp;/&nbsp;_&nbsp;\/&nbsp;_&nbsp;\/&nbsp;_`&nbsp;|<br>
            &nbsp;&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;__/&nbsp;&nbsp;__/&nbsp;(_|&nbsp;|<br>
            &nbsp;&nbsp;&nbsp;|_|&nbsp;&nbsp;|_|&nbsp;|_|\___|\___|\__,_|<br>
        </p>
        <p>Par Johan Ledoux <a href="https://johan.theed.fr" target="_blank">(https://johan.theed.fr)</a></p>

        <h1>Mentions légales</h1>

        <h2>Éditeur du site</h2>
        <p>
            Ces mentions légales s'appliquent à l'ensemble des sites web gérés par <strong>Johan Ledoux</strong> (domaine: theed.fr).<br>
            Siège social : 2 Allée des Platanes<br>
            Téléphone : +33 7 68 04 41 12<br>
            Email : johan.ledoux25@gmail.com<br>
            SIRET : 92420972900012
        </p>

        <h2>Hébergement</h2>
        <p>
            L'ensemble des sites web est hébergé par <strong>Johan Ledoux</strong>.<br>
            Adresse : 2 Allée des Platanes<br>
            Téléphone : +33 7 68 04 41 12<br>
            Email : johan.ledoux25@gmail.com<br>
        </p>

        <h2>Conditions d'utilisation</h2>
        <p>
            L'utilisation de l'ensemble des sites web est soumise aux lois et réglementations en vigueur. En accédant à ces sites, vous acceptez l'intégralité des conditions générales d'utilisation.
        </p>

        <h2>Propriété intellectuelle</h2>
        <p>
            Tous les contenus présents sur les sites (textes, images, vidéos, logos, etc.) sont protégés par des droits d'auteur et ne peuvent être utilisés ou reproduits sans l'autorisation expresse de leurs propriétaires respectifs.
        </p>

        <footer>
            <p>© 2024 Theed - Tous droits réservés pour l'ensemble des sites web gérés par l'entreprise.</p>
        </footer>
    </main>
</body>
</html>