<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theed - Liens utiles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

    <meta name="description" content="Liens utiles vers les différents services et applications de Theed. Découvrez les sites web, applications, jeux et projets annexes.">
    <meta name="keywords" content="theed, liens utiles, services, applications, jeux, projets annexes, technologie">
    <meta name="author" content="Johan Ledoux">

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Theed - Liens utiles">
    <meta property="og:description" content="Liens utiles vers les différents services et applications de Theed. Découvrez les sites web, applications, jeux et projets annexes.">
    <meta property="og:image" content="{{ url_for('static', filename='img/favicon.png', _external=True) }}">
    <meta property="og:url" content="https://johan.theed.fr">
    <meta property="og:type" content="website">

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Theed - Liens utiles">
    <meta name="twitter:description" content="Liens utiles vers les différents services et applications de Theed. Découvrez les sites web, applications, jeux et projets annexes.">
    <meta name="twitter:image" content="{{ url_for('static', filename='img/favicon.png', _external=True) }}">
</head>
<body>
    <main class="text">
        <p>

            &nbsp;_______&nbsp;_&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;_ <br>
            |__&nbsp;&nbsp;&nbsp;__|&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;|<br>
            &nbsp;&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;|&nbsp;|__&nbsp;&nbsp;&nbsp;___&nbsp;&nbsp;___&nbsp;&nbsp;__|&nbsp;|<br>
            &nbsp;&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;|&nbsp;'_&nbsp;\&nbsp;/&nbsp;_&nbsp;\/&nbsp;_&nbsp;\/&nbsp;_`&nbsp;|<br>
            &nbsp;&nbsp;&nbsp;|&nbsp;|&nbsp;&nbsp;|&nbsp;|&nbsp;|&nbsp;|&nbsp;&nbsp;__/&nbsp;&nbsp;__/&nbsp;(_|&nbsp;|<br>
            &nbsp;&nbsp;&nbsp;|_|&nbsp;&nbsp;|_|&nbsp;|_|\___|\___|\__,_|<br>
        </p>
        <p>Par Johan Ledoux <a href="https://johan.theed.fr" target="_blank">(https://johan.theed.fr)</a></p>

        <h1>Liens utiles</h1>

        <h2>Site web</h2>
        <a href="https://theed.fr" target="_blank">Principal (https://theed.fr)</a> <br>
        <a href="https://johan.theed.fr" target="_blank">Johan Ledoux (https://johan.theed.fr)</a>

        <h2>Applications</h2>
        <a href="https://n8n.theed.fr" target="_blank">n8n (https://n8n.theed.fr)</a> <br>
        <a href="https://vault.theed.fr" target="_blank">Vaultwarden (https://vault.theed.fr)</a> <br>
        <a href="https://nas.theed.fr" target="_blank">NAS (https://nas.theed.fr)</a> <br>

        <h2>Jeux</h2>
        <p>
            Serveur Minecraft 1.21.1 -> mc.theed.fr <br>
            Serveur Farming Simulator 2022 -> fermé
        </p>

        <h2>Pojets annexes</h2>
        <p>...</p>

        <footer>
            <p>© 2024 Theed - Tous droits réservés pour l'ensemble des sites web gérés par l'entreprise.</p>
        </footer>
    </main>
</body>
</html>